
<h1 class="page-header">LANTIME - NTP</h1>

<!-- add `multiple` attribute to allow multiple sections to open at once -->
<v-accordion class="vAccordion--default" multiple>

  <!-- add expanded attribute to open the section -->
  <v-pane>
    <v-pane-header>
      General Settings
    </v-pane-header>

    <v-pane-content>
        <div>
            <md-input-container>Stratum Level When Unsynchronized</md-input-container>
          <md-input-container>
            <label>Lavel</label>
            <md-select ng-model="stratum_def">
              <md-option ng-repeat="item in stratum " value="{{item}}">
                {{item}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        
        <md-checkbox md-no-ink aria-label="Disable auto refresh on main page" class="md-primary">
            Disable Stratum Change
        </md-checkbox>
        
        <div>
            <md-input-container>NTP Trusttime MRS</md-input-container>
            <md-input-container>
                <br>
                <label class="hidden">Value</label>
                <input ng-model="trusttime">
            </md-input-container>
            <md-input-container>
              <label class="hidden">Lavel</label>
              <md-select ng-model="stratum_def">
                <md-option ng-repeat="item in period " value="{{item}}">
                  {{item}}
                </md-option>
              </md-select>
            </md-input-container>
        </div>
        
        <div>
            <md-input-container>NTP Trusttime GPS</md-input-container>
            <md-input-container>
                <br>
                <label class="hidden">Value</label>
                <input ng-model="trusttime">
            </md-input-container>
            <md-input-container>
              <label class="hidden">Lavel</label>
              <md-select ng-model="stratum_def">
                <md-option ng-repeat="item in period " value="{{item}}">
                  {{item}}
                </md-option>
              </md-select>
            </md-input-container>
        </div>
        
        <div>
            <md-input-container>Local Trusted Keys</md-input-container>
            <md-input-container>
                <br>
                <label class="hidden">Value</label>
                <input ng-model="temp">
            </md-input-container>
        </div>
        
        <md-checkbox md-no-ink aria-label="Enable Autokey " class="md-primary">
            Enable Autokey 
        </md-checkbox>
        <md-checkbox md-no-ink aria-label="Ignore NTP mode 6 and 7 packets" class="md-primary">
            Ignore NTP mode 6 and 7 packets  
        </md-checkbox>
        <md-checkbox md-no-ink aria-label="Activate access restriction " class="md-primary">
            Activate access restriction 
        </md-checkbox>
        
    </v-pane-content>
  </v-pane>
  
  <v-pane>
    <v-pane-header>
      External NTP Server
    </v-pane-header>

    <v-pane-content>
      External NTP Server
    </v-pane-content>
  </v-pane>
  
  <v-pane>
    <v-pane-header>
      NTP status
    </v-pane-header>

    <v-pane-content>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Remote IP</th>
              <th>Remote Host</th>
              <th>RefID</th>
              <th>Stratum</th>
              <th>Type</th>
              <th>When</th>
              <th>Poll</th>
              <th>Reach</th>
              <th>Delay</th>
              <th>Offset</th>
              <th>Jitter</th>
            </tr>
          </thead>
          <tbody>
                <tr ng-repeat="items in tableData">
                    <td ng-repeat="item in items">{{ item }}</td>
                </tr>
          </tbody>
        </table>
      </div>
    </v-pane-content>
  </v-pane>
  
  <v-pane>
    <v-pane-header>
      NTP Performance Graph
    </v-pane-header>

    <v-pane-content>
      NTP Performance Graph
    </v-pane-content>
  </v-pane>

</v-accordion>